a.inline-macro-execution {
    background: #DDD;
    padding: 1px 4px;
    border: 1px solid var(--color-border-dark-tertiary);
    border-radius: 2px;
    white-space: nowrap;
    word-break: break-all;
}
a.inline-macro-execution i {
    color: var(--color-text-dark-inactive);
    margin-right: 0.25em;
}
a.inline-macro-execution.gmroll {
    background: #e8e8ef;
    border-color: #545469;
}
a.inline-macro-execution.blindroll {
    background: #f5eaf5;
    border-color: #6b476b;
}

/* style an inline roll with an image in it */

a.inline-macro-execution:has(.item-image) {
    display: inline-block;
}
a.inline-macro-execution .item-image {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-size: cover;
    background-position: 50% 0;
    border: none;
    margin-right: 5px;
}
a.inline-macro-execution:hover .item-image {
    background-image: url("../../../icons/svg/d20-grey.svg") !important;
}
a.inline-macro-execution .item-image:hover {
    background-image: url("../../../icons/svg/d20-black.svg") !important;
}